In [1]:
import pandas as pd

In [12]:
daily_df = pd.read_csv("data/daily_report.csv")
# daily_df = daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")
# daily_df = daily_df.rename(columns={"index": "condition"})

In [15]:
daily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3983 entries, 0 to 3982
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3266 non-null   float64
 1   Admin2               3271 non-null   object
 2   Province_State       3812 non-null   object
 3   Country_Region       3983 non-null   object
 4   Last_Update          3983 non-null   object
 5   Lat                  3895 non-null   float64
 6   Long_                3895 non-null   float64
 7   Confirmed            3983 non-null   int64
 8   Deaths               3983 non-null   int64
 9   Recovered            706 non-null    float64
 10  Active               705 non-null    float64
 11  Combined_Key         3983 non-null   object
 12  Incident_Rate        3895 non-null   float64
 13  Case_Fatality_Ratio  3942 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 435.8+ KB

In [17]:
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
daily_df = daily_df.groupby("Country_Region").sum().reset_index()
daily_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      65728    2802    56035.0
1               Albania     132209    2444   128732.0
2               Algeria     126860    3418    88346.0
3               Andorra      13569     127    13234.0
4                Angola      32441     725    26778.0
..                  ...        ...     ...        ...
187             Vietnam       5275      43     2721.0
188  West Bank and Gaza     305201    3459   297201.0
189               Yemen       6658    1307     3245.0
190              Zambia      93201    1268    91156.0
191            Zimbabwe      38682    1586    36453.0

[192 rows x 4 columns]